body {
  font-size: 16px;
  font-family: sans-serif;
}
h1 {
  font-size: 65px;
  color: rgb(255, 166, 0);
  font-family: sans-serif;
  text-decoration: underline;
}
#list-color {
  /* background-color: rgba(53, 140, 190, 0.671); */
  font-family: Josefin Sans, sans-serif;
  font-size: 20px;
  line-height: 2rem;
}
.class-color {
  background-color: rgb(140, 173, 89);
}
p {
  font-weight: 600;
  font-size: 3em;
}
